.navigation {
    text-transform: uppercase;
    background: #fefefe;
    display: table;
    margin-bottom: 0.3em;
    height: 3.5em;
}

.logo,
.topMenu,
.social {
    padding-top: 0.7em;
}

.topMenu,
.social {
    margin-top: 0.5em;
}

.topMenu a {
    text-decoration: none;
    color: black;
    font-family: NovecentowideDemiBold;
    font-weight: bold;
    font-size: 0.68em;
}

.social a {
    text-decoration: none;
    color: black;
}

.topMenu li:nth-child(2) a {
    color: #d1d1d1;
}

.topMenu  li + li:before {
    font-family: Novecentowide;
    font-size: 0.85em;
    content:"/";
    color: #b7b7b7;
    margin: 0 0.5em 0 0.5em;
}

.navigation li {
    display: table-cell;
}

.contentImage {
    text-align: center;
}

.social li {
    float: right;
    padding-right: 0.3em;
}

