@import url(https://necolas.github.io/normalize.css);
/*@import "reset.css";*/
@import url(grid.css);
@import url(//fonts.googleapis.com/css?family=Cuprum|Ubuntu|Roboto&subset=latin,cyrillic);
body {
    font-family: 'Roboto', sans-serif;
}

/*.wrap {*/
    /*min-width: 920px;*/
    /*/!*max-width: 1300px;*!/*/
/*}*/

.logo img {
    float: left;
    width: 200px;
    min-width: 200px;
    height: 300px;
    position: relative;
    margin-right: 5px;
}

.content {
    width: 700px;
    min-width: 200px;
    float: left;
    margin: 0 20px 0 20px;
    /*clear: both;*/
}

.text img {
    width: 680px;
    height: 340px;
    margin: 20px 10px 20px 10px;
}

/*начинаем стилизовать менюху*/
nav {
    background-color: #cdd3e6;
    width: 200px;
    text-align: left;
    float: left;
    margin: 320px 25px 0 0;
    position: fixed;
    display: block;
    /*overflow: scroll;*/
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 200px; /*мне показалось странным так задавать ширину*/
    /*position: relative;*/
    /*display: inline-table;*/
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #cdd3e6;
    left: 100%;
    top: 80%;
}

nav ul li {
    /*float: left;*/
    border-left: 10px solid #666;
    border-bottom: 1px solid #666;
}

nav ul ul li { /* на случай еще одного уровня вложенности*/
    float: none;
    position: relative;
    border-left: none;
}

nav ul ul li a:hover {
    background: #cdd3e6;
}

nav ul li:hover > ul {
    display: block;

}

nav ul li a {
    color: #343434;
    padding: 5px;
    text-decoration: none;
    border-left: 5px solid #9b9cc6;
    font-weight: bold;
    display: block;
}

nav ul li a:hover {
    background-color: #8d93a6;
    border-left: 5px solid #71729b;
    padding-left:20px;
    transition:200ms;

}

nav ul ul li a:hover {
    background-color: #8d93a6;
    border-left: 5px solid #71729b;

}
/*заканчиваем стилизовать менюху*/

.social {
    width: 300px;
    height: 700px;
    margin-top: 20px;
    float: left;
}

.maps {
    width: 700px;
    height: 450px;
    border: none;
}