@import url(//fonts.googleapis.com/css?family=Cuprum|Ubuntu|Roboto&subset=latin,cyrillic);
@import "style.css";

body {
    margin-top: 15px;
}

.sex, .polite, .city, .chose, .vangogh, .regards{
    margin-top: 30px;
}

.name, .sex:hover, .polite:hover, .city:hover, .chose:hover, .vangogh:hover, .regards:hover{
    color: brown;
}

.polite, input[type=radio] {

}

.spam {
    padding: 25px;
    width: 700px;
    float: left;
    margin: 0 auto;
}

.spam input,  {

}

.spam label {
    display: block;
    margin-bottom: 10px;
}

.HELL {
    color: red;
    font-weight: 800;
}

.name input {
    background: #efefef;
    border: 2px dotted #888;
    border-radius: 5px;
    padding: 5px;
    width: 60%;
}

.name input:focus {
    background: #cacaca;
}

.sex {

}

.polite {

}

.city {

}

.chose {

}

.vangogh {

}

.regards {

}

select {
    width: 200px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border: 2px dotted #888;
}

select:focus {
    background-color: #cacaca;
}

fieldset {
    border: 2px dotted #888;
}
