@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600|Ubuntu+Condensed&subset=latin,cyrillic,cyrillic-ext);

body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

h1, h2 {
    font-family: 'Ubuntu Condensed', Verdana, Arial, sans-serif;
    color: darkslateblue;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-row label {
    display: block;
    margin: 10px;
}

.form-row input, textarea {
    background: rgba(160, 186, 87, 0.26);
    border: 1px solid rgba(255, 86, 34, 0.49);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.form-row {
    margin: 20px 0;
}

.form-row [type=radio],
.form-row [type=checkbox],
.buttons-panel input {
    width: auto;
}

.spam {

}