@import url(https://necolas.github.io/normalize.css);
/*@import "reset.css";*/
@import url(grid.css);


.col-7 {
    background: #343434;
}




.header {
   background: #666666;
}

.content {
    background: #9FD468;

}

.sidebar {
    background: #8d93a6;

}

.footer {
    background: red;

}