@import url(https://necolas.github.io/normalize.css);
@import "reset.css";
@import "grid.css";
@import url(//fonts.googleapis.com/css?family=Cuprum|Ubuntu|Roboto&subset=latin,cyrillic);

body {
    font-family: 'Roboto', sans-serif;
}

.col-2 {
    min-width: 224px;
    position: absolute;
}

.col-3 {
    min-width: 200px;
    position: relative;
    margin-left: 940px;
}

.col-6 {
    width: 700px;
    min-width: 400px;
    position: absolute;
    margin-left: 230px;
}

.logo img {
    width: 210px;
    height: 320px;
}

.content {

}

.social {

}

.text img {
    width: 680px;
    height: 340px;
    margin: 20px 10px 20px 10px;
}

.bread a {
    text-decoration: none;
}

.maps {
    width: 700px;
    height: 450px;
    border: none;
}

/*начинаем стилизовать менюху*/
nav {
    background-color: #cdd3e6;
    width: 220px;
    text-align: left;
    /*margin: 320px 25px 0 0;*/
    position: fixed;
    /*display: block;*/
    z-index: 1;
    /*overflow: scroll;*/
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 220px; /*мне показалось странным так задавать ширину*/
    position: relative;
    /*display: inline-table;*/
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #cdd3e6;
    left: 100%;
    top: 80%;
}

nav ul li {
    /*float: left;*/
    border-left: 10px solid #666;
    border-bottom: 1px solid #666;
}

nav ul ul li { /* на случай еще одного уровня вложенности*/
    float: none;
    position: relative;
    border-left: none;
}

nav ul ul li a:hover {
    background: #cdd3e6;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li a {
    color: #343434;
    padding: 5px;
    text-decoration: none;
    border-left: 5px solid #9b9cc6;
    font-weight: bold;
    display: block;
}

nav ul li a:hover {
    background-color: #8d93a6;
    border-left: 5px solid #71729b;
    padding-left: 20px;
    transition: 200ms;
    z-index: 2;
}

nav ul ul li a:hover {
    background-color: #8d93a6;
    border-left: 5px solid #71729b;

}
заканчиваем стилизовать менюху

