.menu {
    display: table;
    width: 100%;
    border: 0.15em solid green;
    margin: 1em 0 1em 0;
    background: rgba(6, 6, 6, 0.91);

}

.menu li {
    border-right: 0.15em solid green;
    list-style-type: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.menu > li:first-child {
    border-right: 0.15em solid green;
}

.menu > li:last-child {
    border-right: none;
}

.menu li li  {
    display: block;
    text-align: center;
    padding: 0.3em 1.2em;
    margin-left: -2.6em;
    vertical-align: middle;
    background: rgba(6, 6, 6, 0.91);
    border-bottom: 0.15em solid green;
    border-left: 0.15em solid green;
}

.menu ul {
    display: none;
    position: absolute;
    margin-left: 2.5em;
}
.menu ul ul {
    display: none;
    position: absolute;
    padding: 0.3em 1.2em;
    left: 89%;
    top: -0.29em;
}

.menu li:hover >ul {
    display: block;
}
.menu li ul li:hover >ul {
    display: block;
}

.top-menu  a {
    color: #478e22;
    font-family: 'Russo One', cursive;
    font-size: 1.5em;
    display: block;
    text-decoration: none;
}

.top-menu a:hover {
    color: rgb(206, 198, 103);
}


